@import url(main.css);

.midbox {
    margin: 0 auto;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 2rem;
}

.center{
    position: relative;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
}
.center h1{
    text-align: center;
}

.center form{
    box-sizing: border-box;
    text-align: center;
}
form .text-field{
    position: relative;
    border-bottom: 1px solid black;
    margin: 30px 0;
}
.text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text-field select{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .4s;
    top: -5px;
}
.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:  #65A534;
    transition: .4s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
    color:  #65A534;
}
.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
}
.text-field select:focus ~ label,
.text-field select:valid ~ label{
    color:  #65A534;
}
.text-field select:focus ~ span::before,
.text-field select:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: 0 auto 20px auto;
    color: grey;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    color: white;
    width: 100%;
    padding: 0.5rem;
    border: 0 solid #65A534;
    background:#65A534;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin: 1rem auto 0;
}
input[type="submit"]:hover{
    color: black;
    background-color: #65A534;
    transition: 0.5s;
}
.error {
    color: rgb(255, 0, 0);
    font-size: 12px; 
    margin-top: 1px; 
    text-align: center;
}

.unrequired input:focus ~ label,
.unrequired input:valid ~ label{
    top: -5px;
    color: black;
}
.unrequired input:focus ~ span::before,
.unrequired input:valid ~ span::before{
    width: 0%;
}

.edit {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #60ba49;
    border: 1px solid #60ba49;
    cursor: pointer;
}

.delete {
    background-color: #cc403b;
    border: 1px solid #cc403b;
}

.editsave {
    display: flex;
    justify-content: space-between;
}

p {
    margin-bottom: 0.5rem;
}

.AR {
    display: flex;
    justify-content:center;
    gap: 1rem;
}