@import url(../main.css);

.profile-info {
    margin-bottom: 20px;
}

.profile-image {
    margin-bottom: 20px;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-heading {
flex: 1; /* Allow the heading to grow to fill remaining space */
}

.form-button {
    color: white;
    width: 80%;
    height: 45px;
    border: 0 solid #65A534;
    background: #65A534;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin: 20px 10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-button {
    color: white;
    width: 45%;
    height: 45px;
    border: 0 solid #65A534;
    background:#65A534;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin: 20px 10px;
    
}
.form-button:hover{
    color: black;
    background-color: #65A534;
    transition: 0.5s;
}




