
        /* Scrollbar Styling */
        
        /* Padding Adjustment for Sidebar Containers */

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body,
        html {
            /* Add your background image URL and properties here */
            background: url('<?php echo URLROOT; ?>/public/images/bg7.jpg') center center fixed;
            background-size: cover;
            height: 100%;
        }

        main.table {
            background-color: rgba(148, 144, 144, 0.333);
            backdrop-filter: blur(17px);
            box-shadow: 0 .4rem .8rem #0005;
            border-radius: .8rem;
            overflow: auto;
        }

        .table__header {
            width: 100%;
            height: 10%;
            background-color: #fff4;
            padding: .8rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .table__header .input-group {
            width: 35%;
            height: 100%;
            background-color: #fff5;
            padding: 0 .8rem;
            border-radius: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s;
        }

        .table__header .input-group:hover {
            width: 45%;
            background-color: #fff8;
            box-shadow: 0 .1rem .4rem #0002;
        }

        .table__header .input-group img {
            width: 1.2rem;
            height: 1.2rem;
        }

        .table__header .input-group input {
            width: 100%;
            padding: 0 .5rem 0 .3rem;
            background-color: transparent;
            border: none;
            outline: none;
        }

        

        .tab-heading {
            cursor: pointer;
        }
        
        .tab-selected {
            background-color: #65A534;
            transform: scale(1.08);
            border-radius: 10px 10px 0 0;
            padding: 10px;
        }
        
  
        table {
            width: 100%;
            border: white;
        }

        td img {
            width: 36px;
            height: 36px;
            margin-right: .5rem;
            border-radius: 10%;
            vertical-align: middle;
        }

        td img:hover {
            transform: scale(1.009);
        }

        table,
        th {
            border-collapse: collapse;
            padding: 1rem;
            text-align: center;
            position: sticky;
        }

        thead th {
            color: white; /* Set the font color to white */
            position: sticky;
            top: 0;
            left: 0;
            background-color: #2e342f;
            cursor: pointer;
            text-transform: capitalize;
        }

        td {
            padding: 0.5rem;
            font-weight:bold;
        }

        tbody tr:nth-child(even) {
            background-color: #2826260b;
        }

        tbody tr {
            --delay: .1s;
            transition: .5s ease-in-out var(--delay), background-color 0s;
        }

        tbody tr.hide {
            opacity: 0;
            transform: translateX(100%);
        }

        

        tbody tr td,
        tbody tr td p,
        tbody tr td img {
            transition: .2s ease-in-out;
        }

        tbody tr.hide td,
        tbody tr.hide td p {
            padding: 0;
            font: 0 / 0 sans-serif;
            transition: .2s ease-in-out .5s;
        }

        tbody tr.hide td img {
            width: 7;
            height: 7;
            transition: .2s ease-in-out .5s;
        }

        h2,
        h5 {
            font-family: 'Poppins', sans-serif;
            color: #060804;
           
        }

        th,
        td {
            font-family: 'Poppins', sans-serif;
            padding: 5px;
        }

        .dashboard {
            width: 100%;
            height: 75vh;
            position: sticky;
        }

        .container {
            top: 0;
            width: 280px;
            margin: 0 auto;
            padding: 1rem 2rem;
            margin-right: 1rem;
            position: fixed;
        }

        .container .title {
            font-size: 3.5rem;
            color: #444;
            margin-bottom: 4rem;
            text-transform: uppercase;
            text-align: center;
        }

        .container .dashboard-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            gap: 1.2rem;
            position: fixed;
        }

        .container .dashboard-container .menu {
            
           
           
            text-align: center;
            padding: 2px;
            background-color: #fff8;
            backdrop-filter: blur(7px);
            box-shadow: 0 .4rem .8rem #0005;
            cursor: pointer;
            height: 80px;
            width: 80px;
            border-radius: 10px;
        }

        .container .dashboard-container .menu:hover {
            background: #65A534;
            transform: scale(1.08);
        }

        .container .dashboard-container .menu img {
            align-items: center;
            border-radius: .8rem;
        }

        .container .dashboard-container .menu:hover img {
            transform: scale(.9);
        }

        .container .dashboard-container .menu h6 {
            color: rgba(0, 0, 0, 0.845);
        }

        .container .dashboard-container .menu:hover h6 {
            color: black;
        }

        .sidebar {
            position: fixed;
            left: 0;
            width: 9.0%;
            height: 100%;
            bottom: 0;
            background-color: #3c3c3c;
            backdrop-filter: blur(7px);
            box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1); /* Adjust the values */
            justify-content: center;
            align-items: center;
        }

        .navbar {
            position: fixed; /* Fixed position */
            left: 9%; /* Adjust as needed */
            width: 91%; /* Take up the remaining width */
            display: flex;
            justify-content: space-between; /* Distribute items along the main axis */
            align-items: center;
            padding: 20px;
            top: 0px; /* Stick to the top of the viewport */
            z-index: 1;
            height: 60px; /* Fixed height for navbar */
            /* Example background color */
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
        }
        
        .navbar-logo {
            width: 220px; /* Fixed width for the logo */
            height: auto; /* Maintain aspect ratio */
            margin-left: auto;
        }
        
        .navbar-icons {
            display: flex;
            align-items: center;

        }
        
        .navbar-icon {
            width: 50px; /* Increased width for icons */
            height: auto; /* Maintain aspect ratio */
            margin-left: 15px; /* Adjust spacing between icons */
            box-shadow: 0 0.9rem 0.8rem rgba(0, 0, 0, 0.1); /* Box shadow */
            border-radius: 50px; /* Border radius */
            padding: 5px; /* Increase the padding to create gap */
        }

        .navbar-icon:hover {
            background: #65A534;
            transform: scale(1.08);
        }
        
        .navbar-icon-container {
            position: relative;
        }
        
        .navbar-icon-container:hover::after {
            content: attr(data-text); /* Display the value of the data-text attribute */
            position: absolute;
           top:80%;
            left: 50%; /* Center the text horizontally */
            transform: translateX(-50%); /* Center the text horizontally */
            background-color: #65A534; /* Background color for the text */
            color: white; /* Text color */
            padding: 5px; /* Padding around the text */
            border-radius: 5px; /* Border radius for the text */
            z-index: 2; /* Ensure the text appears above other elements */
            white-space: nowrap; /* Prevent text from wrapping */
        }
        
        .main-content {
            position: fixed;
            left: 9.0%;
            width: 91%;
            height: 90%;
            bottom: 0;
            z-index: 2;
            overflow: auto;
            border-radius: 20px;
        }

        /* Additional CSS for centering headings */
        .table_body h2 {
            text-align: center;
        }

        /* Add CSS for making status editable */
        .editable {
            cursor: pointer;
        }

        .editable:hover {
            background-color: #f2f2f2;
        }

        /* Add CSS for the form */
        #statusForm {
            margin-bottom: 20px;
        }

        /* Style for the update status button */
        #statusForm button[type="submit"] {
            display: none;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border: 1px solid #4CAF50;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #statusForm button[type="submit"]:hover {
            background-color: #45a049;
        }

        /* Style for success message */
        #successMessage {
            display: none;
            background-color: #65A534;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin-top: 10px;
        }

        .select-container {
            position: relative;
            display: inline-block;
        }

        /* Style the dropdown menu */
        .statusInput {
            appearance: none;
            padding: 10px 20px; /* Adjust padding as needed */
            background-color: #65A534; /* Green background color */
            color: white; /* Text color */
            border: 5px solid #061807; /* Green border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Change cursor to pointer */
            transition: background-color 0.3s; /* Add transition */
        }

        /* Hover effect for dropdown */
        .statusInput:hover {
            background-color: #45a049;
            transform: scale(1.08);
            /* Darker green background color on hover */
        }

        /* Style the dropdown arrow */
        .select-arrow {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: rgb(251, 248, 248);
        }

        /* Style the dropdown options */
        .statusInput option {
            padding: 10px 20px; /* Adjust padding as needed */
            background-color: #4CAF50; /* Green background color */
            color: rgb(251, 248, 248); /* Text color */
            cursor: pointer; /* Change cursor to pointer */
            transition: background-color 0.3s; /* Add transition */
        }

        /* Hover effect for dropdown options */
        .statusInput option:hover {
            background-color: #215023;
            transform: scale(1.08);
            /* Darker green background color on hover */
        }

        .inline-heading {
    display: inline;
    margin-right: 20px;
    /* Adjust as needed */
}
/* Style the placeholder text */
#searchInput::placeholder {
    color: rgb(14, 14, 14);
    font-size:18px;
    
}




/* Update the iframe styling to match the table background */
#confirmationDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Set background color with opacity */
    border: 1px solid #ccc;
    z-index: 999; /* Ensure iframe is above other elements */
    padding: 20px;
    border-radius: 25px;
    backdrop-filter: blur(70px);
    box-shadow: 0 .4rem .8rem #0005;

}

/* Style the Yes and No buttons */
#confirmationDialog button {
    padding: 10px 20px;
    background-color: #2e342f; /* Match the color of table headings */
    color: rgb(253, 251, 251);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}

/* Hover effect for buttons */
#confirmationDialog button:hover {
    background-color: #65A534; 
    transform: scale(1.08);
    /* Darker green background color */
}

.table__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px; /* Add padding to adjust spacing */
}


a.button {
    display: inline-block;
    padding: 8px 10px; /* Adjust padding as needed */
    background-color: #65A534; /* Green background color */
    color: rgb(254, 252, 252); /* Text color */
    text-decoration: none; /* Remove underline */
    border: 2px solid white; /* Green border */
    border-radius: 30px; 
    /* Rounded corners */
}

button {
    display: inline-block;
    padding: 8px 10px; /* Adjust padding as needed */
    background-color: #65A534; /* Green background color */
    color: rgb(251, 249, 249); /* Text color */
    text-decoration: none; /* Remove underline */
    border: 2px solid white; /* Green border */
    border-radius: 30px; 
    /* Rounded corners */
}

button:hover{
    background-color: #505250;
    transform: scale(1.08);
}

/* Hover effect */
a.button:hover {
    background-color: #505250;
    transform: scale(1.08);
    /* Darker green background color on hover */
}



.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    text-align: center;
    padding:20px;
    font-family: 'Poppins', sans-serif;

}

.center h1 {
    text-align: center;
    font-size: 200%;
}



form .text-field {
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;

}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label {
    position: absolute;
    top: -5px;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
    transition: .4s;
    padding: 0 5px;
}

.text-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #65A534;
    transition: .4s;
    font-family: 'Poppins', sans-serif;

}

.text-field input:focus ~ label,
.text-field input:valid ~ label {
    top: -5px;
    color: #65A534;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before {
    width: 100%;
}

input[type="submit"] {
    color: white;
    width: 40%;
    height: 50px;
    border: 0 solid #65A534;
    background: #65A534;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    align-items: center;
}

input[type="submit"]:hover {
    color: black;
    background-color: #65A534;
    transition: 0.5s;
}

/* Styles for the Select Province Dropdown */

.wrapper.province {
    width: 100%;
    margin: 20px auto 0;
    cursor: pointer;
}

.select-btn.province .options li {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.select-btn.province {
    height: 45px;
    padding: 0 20px;
    border-radius: 7px;
    background: white;
    justify-content: space-between;
}

.select-btn.province i {
    font-size: 16px;
    padding-left: 10px;
}

.content.province {
    display: none;
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background: white;
}

.wrapper.province.active .content.province {
    display: block;
}

.content.province .search {
    position: relative;
}

.content.province .search input {
    width: 100%;
}

.search.province i {
    left: 15px;
    color: grey;
    font-size: 16px;
    line-height: 50px;
    position: absolute;
}

.search.province input {
    height: 40px;
    width: 80%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px 0 43px;
    border: 1px solid grey;
}

.content.province .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options.province::-webkit-scrollbar {
    width: 7px;
}

.options.province::-webkit-scrollbar-track {
    background: white;
    border-radius: 25px;
}

.options.province::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.432);
    border-radius: 25px;
}

.options.province li {
    height: 50px;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    background: white;
    list-style: none;
}

.options.province li:hover {
    background: rgba(0, 0, 0, 0.295);
}

.text-field {
    position: relative;
}

.text-field select {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    background-color: transparent; /* Transparent background color */
    color: #333; /* Text color */
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* For older versions of Chrome/Safari */
    -moz-appearance: none; /* For older versions of Firefox */
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the select element */
    box-shadow: none; /* Remove box shadow */
}

/* Style for when select element is hovered */
.text-field select:hover {
    background-color: #65A534; /* Darker green background color on hover */
}

/* Styles for the dialog box */
.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff; /* White background */
    padding: 20px;
    border: 1px solid #000000; /* Black border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Drop shadow effect */
    z-index: 9999;
    display: none; /* Initially hidden */
}

/* Styles for the dialog box content */
.dialog-box p {
    margin: 0; /* Remove default margins */
}

body {
    font-family: 'Poppins', sans-serif;
}

.all {
    padding: 20px;

    display: flex;
}

#product-container{
    
    backdrop-filter: blur(27px);
    border-radius: 25px;
    padding: 20px;
    margin-left: 15px;
    

}




.circle-wrap {
    display: inline-block; /* Change display property to inline-block */
    margin-bottom: 55px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    width: 150px;
    height: 150px;
    background: rgba(69, 77, 69, 0.5);
    border-radius: 100%;
    position: relative;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5); /* Set background color to transparent black */
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: black; /* Set text color to black */
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* Adjust product name position */
.product-name {
    position: absolute;
    bottom: -80px; /* Adjust as needed */
    width: 100%; /* Ensure the text is centered */
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    margin-bottom: 15px;

}

/* Add line break between circle and product name */
.product-name::before {
    content: "\A";
    white-space: pre;
}

/* color animation */

.mask .fill-1,
.mask .fill-2,
.mask .fill-3 {
    background-color: red; /* Set fill color to #4CAF50 */
    clip: rect(0px, 75px, 150px, 0px);
}

.mask.full-1 .fill-1,
.mask.full-2 .fill-2,
.mask.full-3 .fill-3 {
    animation: fill ease-in-out 3s; /* Combine animation into one */
    transform-origin: center; /* Set the transform origin to the center */
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg); /* Adjust the rotation degree */
    }
}

.card {
    
    margin-bottom: 20px;
    
    flex: 0 0 calc(25% - 2px); /* Set flex property to distribute space evenly */
}

#product-container:hover{
    transform: scale(1.1);
    background-color: #65A534;

}


main.stock {
    backdrop-filter: blur(57px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    padding: 50px;

    overflow: auto;
}


.table__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px; /* Add padding to adjust spacing */
    height: 80%;
}

.card {
    background-color: rgba(181, 174, 174, 0.15);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    width: calc(25% - 2px); /* Adjust width for spacing */
    margin-bottom: 20px;
    overflow: hidden;
    flex: 0 0 calc(25% - 2px);
    border:2px #000000;
        width: 200px;
        height: 100px;
        /* Add any other styles you need */
    
    
}



.card__image {
    width: 90%; /* Adjust image width to fill the container */
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.card__image:hover {
    transform: scale(1.08);
}





.card__details {
    padding: 16px;
}

.card__title {
    font-size: 18px;
    margin-bottom: 8px;
}

.card__text {
    margin-bottom: 4px;
}

.card__actions {
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px; /* Add left padding */
    padding-right: 50px; /* Add right padding */
    
   
}

.card__action {
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0.9rem 0.8rem rgba(0, 0, 0, 0.1); /* Box shadow */
    border-radius: 40px;
    padding: 10px;
    position: relative; /* Ensure proper positioning of the pseudo-element */
}




.card__action:hover {
    filter: brightness(0.8);
    transform: scale(1.5);
    background-color: #ffffff;
}


.card:hover {
    background-color: #65A534;
    transform: scale(1.08);
}



.card:last-child {
    flex: 0 0 calc(25% - 2px); /* Set the flex property of the last card to have a fixed size */
}


.containerr{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 3rem;
}

.containerr .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 4rem;
    text-transform: uppercase;
    text-align: center;
}

.dashboard-containerr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    z-index: 1;
}

.menuu {
    margin: 0 auto;
}







.containerr .dashboard-containerr .menuu{
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
    background: rgba(255, 255, 255, 0.598);
    position: relative;
    cursor: pointer;
    height: 30rem;
    width: 30rem;
}

.containerr .dashboard-containerr .menuu:hover{
    background: #65a5346b;
}

.containerr .dashboard-containerr .menuu img{
    align-items: center;
    height: 15rem;
    width: 15rem;
}

.containerr .dashboard-containerr .menuu:hover img{
    transform: scale(.9);
    
}

.containerr .dashboard-containerr .menuu h3{
    padding: 4rem 0;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.845);
}

.containerr .dashboard-containerr .menuu:hover h3{
    font-size: 2.2rem;
    color: black;
}

.error {
    color: rgb(201, 10, 10);
    font-size: 12px; 
    margin-top: 1px; 
    
}

.login-link{
    margin: 3px 0 30px auto;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.671);
}
.login-link a{
    color: rgba(0, 0, 0, 0.671);
    text-decoration: none;
}
.login-link a:hover{
    color: #65A534;
    text-decoration: underline;
}
