@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
    font-family: "Roboto", sans-serif;
}

.all {
    padding: 20px;

    display: flex;
}

#product-container{
    background-color: rgba(15, 14, 14, 0);
    backdrop-filter: blur(27px);
    border-radius: 25px;
    box-shadow: 0 .4rem .8rem #0005;
    padding: 20px;
    margin-left: 15px;
    

}

#product-container:hover{
    transform: scale(1.1);
    background-color: #f2f7f2;

}


.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-bottom: 55px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    width: 150px;
    height: 150px;
    background: rgba(69, 77, 69, 0.5); /* Set background color to transparent white */
    border-radius: 100%;
    position: relative; /* Add relative positioning to the circle-wrap */
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5); /* Set background color to transparent black */
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: black; /* Set text color to black */
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* Adjust product name position */
.product-name {
    position: absolute;
    bottom: -80px; /* Adjust as needed */
    width: 100%; /* Ensure the text is centered */
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    margin-bottom: 15px;

}

/* Add line break between circle and product name */
.product-name::before {
    content: "\A";
    white-space: pre;
}

/* color animation */

.mask .fill-1,
.mask .fill-2,
.mask .fill-3 {
    background-color: red; /* Set fill color to #4CAF50 */
    clip: rect(0px, 75px, 150px, 0px);
}

.mask.full-1 .fill-1,
.mask.full-2 .fill-2,
.mask.full-3 .fill-3 {
    animation: fill ease-in-out 3s; /* Combine animation into one */
    transform-origin: center; /* Set the transform origin to the center */
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg); /* Adjust the rotation degree */
    }
}

.card {
    
    margin-bottom: 20px;
    
    flex: 0 0 calc(25% - 2px); /* Set flex property to distribute space evenly */
}