@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
    font-family: "Roboto", sans-serif;
}

.all {
    display: flex;
}

.circle-wrap {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.5); /* Set background color to transparent white */
    border-radius: 50%;
    position: relative; /* Add relative positioning to the circle-wrap */
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5); /* Set background color to transparent black */
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: black; /* Set text color to black */
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
}

/* Adjust product name position */
.product-name {
    position: absolute;
    bottom: -30px; /* Adjust as needed */
    width: 100%; /* Ensure the text is centered */
    text-align: center;
    font-size: 20px;
    font-weight:bold;
}

/* Add line break between circle and product name */
.product-name::before {
    content: "\A";
    white-space: pre;
}

/* color animation */

.mask .fill-1,
.mask .fill-2,
.mask .fill-3 {
    background-color: red; /* Set fill color to #4CAF50 */
}

.mask.full-1 .fill-1,
.mask.full-2 .fill-2,
.mask.full-3 .fill-3 {
    animation: fill ease-in-out 3s; /* Combine animation into one */
    transform-origin: center; /* Set the transform origin to the center */
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg); /* Adjust the rotation degree */
    }
}
